// Mobile
.about__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $OswaldM, sans-serif;
  font-size: 28px;
  line-height: 32px;
}
.about__image {
  width: 100%;
  border-radius: 3px;
}
.about__subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: $OswaldM, sans-serif;
  font-size: 22px;
  line-height: 26px;
}
.about__description {
  font-family: $OswaldR, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: rgb(85, 81, 81);
}
.about__contacts {
  margin-top: 5px;
}
.about__table {
  border-collapse: collapse;
}
.about__email {
  color: rgb(85, 81, 81);
  &:hover,
  &:focus {
    color: rgb(55, 230, 55);
  }
  &:active {
    color: green;
  }
}
.about__text {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  font-family: $OswaldR, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: rgb(85, 81, 81);
  &--title {
    color: black;
  }
}
.about__button-contact {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(55, 230, 55);
  &:hover,
  &:focus {
    background-color: rgb(55, 230, 55);
  }
  &:active {
    background-color: green;
    border: 1px solid green;
  }
}

// Tablet
@media (min-width: $tablet-width) {
  .about {
    // margin-top: 90px;
  }
  .about__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      'a a b b b'
      'c c b b b'
      '. . b b b';
    grid-gap: 10px;
  }
  .about__title {
    grid-area: a;
    position: relative;
    padding-right: 30px;
    &:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 70px;
      width: 22px;
      height: 17px;
      background-image: url("../img/vector/icon-check.svg");
      background-repeat: no-repeat;
    }
  }
  .about__picture {
    grid-area: b;
  }
  .about__image {

    margin-top: 10px;
  }
  .about__information {
    grid-area: c;
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .about__title {
    margin-top: 30px;
  }
}
