// Mobile
.contacts {

}
.contacts__container {

}
.contacts__block {

}
.contacts__title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contacts__text {
  margin-bottom: 10px;
  font-family: $OswaldR, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.contacts__form {

}
