// Mobile
.experience {

}
.experience__container {

}
.experience__title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.experience__text {
  margin-bottom: 10px;
  font-family: $OswaldR, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
