// Mobile
.modal-popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 6.3%;
  width: 87.5%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
}
.modal-popup__flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal-popup__description {
  font-family: $OswaldM, sans-serif;
  font-size: 28px;
  line-height: 32px;
}
.modal-popup__close {
  &:hover,
  &:focus {
    fill: rgb(55, 230, 55);
  }
  &:active {
    fill: green;
  }
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}
.modal-popup__show {
  display: block;
}
.modal-overlay__show {
  display: block;
}

// Tablet
@media (min-width: $tablet-width) {
  .modal-popup {
    max-width: 672px;
    left: 50%;
    margin-left: -336px;
  }
}
