// Mobile
.navigation__item {
  padding: 10px;
  text-align: center;
}
.navigation__link {
  color: black;
  text-transform: uppercase;
  font-family: $Lato, sans-serif;
  &:hover,
  &:focus {
    color: rgb(55, 230, 55);
    border-bottom: 1px solid rgb(55, 230, 55);
  }
  &:active {
    color: green;
    border-bottom: 1px solid green;
  }
}

// JS
.navigation--opened {
  display: block;
  animation-name: creepOut;
  animation-duration: 0.6s;
}
.navigation--closed {
  display: none;
}
.navigation--nojs {
  display: block;
}

// Animation
@keyframes creepOut {
  0%   { transform: translateX(-2000px); }
  70%  { transform: translateX(30px);	   }
  90%  { transform: translateX(-10px);   }
  100% { transform: translateX(0px);     }
}

// Tablet
@media (min-width: $tablet-width) {
  .navigation {
    display: block;
  }
  .navigation__list {
    display: flex;
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .navigation__item {
    font-size: 18px;
  }
}
