// Mobile
.page-footer {
  padding-bottom: 10px;
}
.page-footer__container {
  display: flex;
  justify-content: space-between;
}
.page-footer__text {
  margin-top: 10px;
  font-family: $OswaldR, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
