// Mobile
.page-header {
  width: 100%;
  border-bottom: 1px solid rgb(55, 230, 55);
}
.page-header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
}
.page-header__logo {
  font-family: $OswaldM;
  font-size: 20px;
  line-height: 24px;
}
.page-header__button {
  &:hover,
  &:focus {
    fill: rgb(55, 230, 55);
  }
  &:active {
    fill: green;
  }
}

// Tablet
@media (min-width: $tablet-width) {
  .page-header {
    // position: fixed;
    // top: 0px;
    // left: 0;
    // background-color: white;
  }
  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-header__block {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .page-header__logo {
    font-size: 24px;
  }
  .page-header__button {
    display: none;
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .page-header__logo {
    font-size: 26px;
  }
  .page-header__block {
    margin-top: 35px;
    padding-bottom: 35px;
  }
}
