// Mobile
.section {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(55, 230, 55);
}

// Tablet
@media (min-width: $tablet-width) {
  .section {
    padding-bottom: 20px;
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .section {
    padding-bottom: 30px;
  }
}
