@font-face {
  font-family: "OswaldR";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OswaldM";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: $OswaldR;
}
